<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Alpaca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,104}</string>
                <key>spriteSourceSize</key>
                <string>{71,104}</string>
                <key>textureRect</key>
                <string>{{107,613},{71,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>accounting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,94}</string>
                <key>spriteSourceSize</key>
                <string>{86,94}</string>
                <key>textureRect</key>
                <string>{{1,809},{86,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>advancedCEO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{91,1128},{78,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,100}</string>
                <key>spriteSourceSize</key>
                <string>{82,100}</string>
                <key>textureRect</key>
                <string>{{1,633},{82,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capital.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,94}</string>
                <key>spriteSourceSize</key>
                <string>{86,94}</string>
                <key>textureRect</key>
                <string>{{97,868},{86,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,88}</string>
                <key>spriteSourceSize</key>
                <string>{84,88}</string>
                <key>textureRect</key>
                <string>{{1,1069},{84,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,109}</string>
                <key>spriteSourceSize</key>
                <string>{84,109}</string>
                <key>textureRect</key>
                <string>{{117,527},{84,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fightChicken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,106}</string>
                <key>spriteSourceSize</key>
                <string>{114,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intermediateBankCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{1,897},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intermediateCEO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,85}</string>
                <key>spriteSourceSize</key>
                <string>{76,85}</string>
                <key>textureRect</key>
                <string>{{1,1155},{76,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juniorBankCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{96,956},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lEnergyDrinks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,106}</string>
                <key>spriteSourceSize</key>
                <string>{114,106}</string>
                <key>textureRect</key>
                <string>{{117,1},{114,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lGooChicken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,106}</string>
                <key>spriteSourceSize</key>
                <string>{114,106}</string>
                <key>textureRect</key>
                <string>{{1,109},{114,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lotteryTickets.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{104,90}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,541},{104,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lotto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{110,92}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{117,433},{110,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mEnergyDrinks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,106}</string>
                <key>spriteSourceSize</key>
                <string>{114,106}</string>
                <key>textureRect</key>
                <string>{{117,109},{114,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mGooChicken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,106}</string>
                <key>spriteSourceSize</key>
                <string>{114,106}</string>
                <key>textureRect</key>
                <string>{{1,217},{114,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magerChicken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,106}</string>
                <key>spriteSourceSize</key>
                <string>{114,106}</string>
                <key>textureRect</key>
                <string>{{117,217},{114,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>noviceCEO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,89}</string>
                <key>spriteSourceSize</key>
                <string>{84,89}</string>
                <key>textureRect</key>
                <string>{{96,1042},{84,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>renamingCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{98,90}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,717},{98,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rookieCEO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,82}</string>
                <key>spriteSourceSize</key>
                <string>{96,82}</string>
                <key>textureRect</key>
                <string>{{101,784},{96,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sEnergyDrinks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,106}</string>
                <key>spriteSourceSize</key>
                <string>{114,106}</string>
                <key>textureRect</key>
                <string>{{1,325},{114,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sGooChicken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,106}</string>
                <key>spriteSourceSize</key>
                <string>{114,106}</string>
                <key>textureRect</key>
                <string>{{117,325},{114,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>salesPromotion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,106}</string>
                <key>spriteSourceSize</key>
                <string>{114,106}</string>
                <key>textureRect</key>
                <string>{{1,433},{114,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seniorBankCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{1,983},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,99}</string>
                <key>spriteSourceSize</key>
                <string>{96,99}</string>
                <key>textureRect</key>
                <string>{{103,686},{96,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SpProp.png</string>
            <key>size</key>
            <string>{232,1232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc859dd27bed0ff5838c90402c9a1ed2:dc02c3975dc211ceb25f794261f71cbb:018d289206107dadd2afa7fd2e99e5d5$</string>
            <key>textureFileName</key>
            <string>SpProp.png</string>
        </dict>
    </dict>
</plist>
