<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achieveBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{365,41},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieveItem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,116}</string>
                <key>spriteSourceSize</key>
                <string>{185,116}</string>
                <key>textureRect</key>
                <string>{{178,41},{185,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,48}</string>
                <key>spriteSourceSize</key>
                <string>{85,48}</string>
                <key>textureRect</key>
                <string>{{265,159},{85,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,53}</string>
                <key>spriteSourceSize</key>
                <string>{132,53}</string>
                <key>textureRect</key>
                <string>{{123,41},{132,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,150}</string>
                <key>spriteSourceSize</key>
                <string>{120,150}</string>
                <key>textureRect</key>
                <string>{{1,41},{120,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{471,38}</string>
                <key>spriteSourceSize</key>
                <string>{471,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{471,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,63}</string>
                <key>spriteSourceSize</key>
                <string>{74,63}</string>
                <key>textureRect</key>
                <string>{{365,143},{74,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>editSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{430,143},{48,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>proBar3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,27}</string>
                <key>spriteSourceSize</key>
                <string>{68,27}</string>
                <key>textureRect</key>
                <string>{{104,193},{68,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>proBar4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,28}</string>
                <key>spriteSourceSize</key>
                <string>{101,28}</string>
                <key>textureRect</key>
                <string>{{1,193},{101,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>proBar5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{430,193},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>proBarBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,39}</string>
                <key>spriteSourceSize</key>
                <string>{89,39}</string>
                <key>textureRect</key>
                <string>{{174,175},{89,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIAchieve.png</string>
            <key>size</key>
            <string>{473,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a1d28164813f9a702e14e17ba6a9352:e9f873e68adf5dbb19d333cf702b553f:d86dd0774adec04cd59a6ebcfed1901c$</string>
            <key>textureFileName</key>
            <string>UIAchieve.png</string>
        </dict>
    </dict>
</plist>
