<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>algamSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,286}</string>
                <key>spriteSourceSize</key>
                <string>{567,286}</string>
                <key>textureRect</key>
                <string>{{374,820},{567,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingFloorBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{643,1},{607,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buildingTop0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{1,489},{607,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,87}</string>
                <key>spriteSourceSize</key>
                <string>{92,87}</string>
                <key>textureRect</key>
                <string>{{518,489},{92,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lockBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,142}</string>
                <key>spriteSourceSize</key>
                <string>{329,142}</string>
                <key>textureRect</key>
                <string>{{374,489},{329,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lockSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,47}</string>
                <key>spriteSourceSize</key>
                <string>{33,47}</string>
                <key>textureRect</key>
                <string>{{518,578},{33,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>openBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,142}</string>
                <key>spriteSourceSize</key>
                <string>{329,142}</string>
                <key>textureRect</key>
                <string>{{567,610},{329,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zeroSprite0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,486}</string>
                <key>spriteSourceSize</key>
                <string>{640,486}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,486}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIBuilding.png</string>
            <key>size</key>
            <string>{1015,1107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0ab97a8358f5e81258cbf38237530d8:b3e26831dda7a857f65e1aeefc470abb:6804334f92cac1040ecff3e7e0036a73$</string>
            <key>textureFileName</key>
            <string>UIBuilding.png</string>
        </dict>
    </dict>
</plist>
