<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrowSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,65}</string>
                <key>spriteSourceSize</key>
                <string>{59,65}</string>
                <key>textureRect</key>
                <string>{{411,955},{59,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,162}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{191,693},{162,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,188}</string>
                <key>spriteSourceSize</key>
                <string>{188,188}</string>
                <key>textureRect</key>
                <string>{{1,693},{188,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,125}</string>
                <key>spriteSourceSize</key>
                <string>{145,125}</string>
                <key>textureRect</key>
                <string>{{1,883},{145,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,570}</string>
                <key>spriteSourceSize</key>
                <string>{520,570}</string>
                <key>textureRect</key>
                <string>{{1,1},{520,570}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{420,638},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{420,752},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,51}</string>
                <key>spriteSourceSize</key>
                <string>{102,51}</string>
                <key>textureRect</key>
                <string>{{230,921},{102,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blueBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,62}</string>
                <key>spriteSourceSize</key>
                <string>{101,62}</string>
                <key>textureRect</key>
                <string>{{230,857},{101,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,31}</string>
                <key>spriteSourceSize</key>
                <string>{95,31}</string>
                <key>textureRect</key>
                <string>{{411,922},{95,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closeSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,71}</string>
                <key>spriteSourceSize</key>
                <string>{66,71}</string>
                <key>textureRect</key>
                <string>{{436,854},{66,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>greenBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,62}</string>
                <key>spriteSourceSize</key>
                <string>{101,62}</string>
                <key>textureRect</key>
                <string>{{283,921},{101,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>offSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,63}</string>
                <key>spriteSourceSize</key>
                <string>{187,63}</string>
                <key>textureRect</key>
                <string>{{343,573},{187,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>onSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,63}</string>
                <key>spriteSourceSize</key>
                <string>{187,63}</string>
                <key>textureRect</key>
                <string>{{355,638},{187,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>proveiwBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,80}</string>
                <key>spriteSourceSize</key>
                <string>{117,80}</string>
                <key>textureRect</key>
                <string>{{148,883},{117,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>redBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,62}</string>
                <key>spriteSourceSize</key>
                <string>{101,62}</string>
                <key>textureRect</key>
                <string>{{333,857},{101,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titelBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,118}</string>
                <key>spriteSourceSize</key>
                <string>{340,118}</string>
                <key>textureRect</key>
                <string>{{1,573},{340,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>videoSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,38}</string>
                <key>spriteSourceSize</key>
                <string>{43,38}</string>
                <key>textureRect</key>
                <string>{{472,955},{43,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellowBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,62}</string>
                <key>spriteSourceSize</key>
                <string>{101,62}</string>
                <key>textureRect</key>
                <string>{{347,921},{101,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UICommon.png</string>
            <key>size</key>
            <string>{533,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05b403d0a6864d64cd40d4ed9bf2cabe:3a5edc5fb4149146aba46438dffb8644:e8504945c462cbb34a003973367caf2c$</string>
            <key>textureFileName</key>
            <string>UICommon.png</string>
        </dict>
    </dict>
</plist>
