<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,119}</string>
                <key>spriteSourceSize</key>
                <string>{104,119}</string>
                <key>textureRect</key>
                <string>{{914,653},{104,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadMan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,650}</string>
                <key>spriteSourceSize</key>
                <string>{380,650}</string>
                <key>textureRect</key>
                <string>{{643,1},{380,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,38}</string>
                <key>spriteSourceSize</key>
                <string>{33,38}</string>
                <key>textureRect</key>
                <string>{{914,774},{33,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loadingBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1136}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,1136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingProBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,37}</string>
                <key>spriteSourceSize</key>
                <string>{10,37}</string>
                <key>textureRect</key>
                <string>{{1003,774},{10,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingProBarBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,47}</string>
                <key>spriteSourceSize</key>
                <string>{20,47}</string>
                <key>textureRect</key>
                <string>{{954,774},{20,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loadingTitel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,269}</string>
                <key>spriteSourceSize</key>
                <string>{452,269}</string>
                <key>textureRect</key>
                <string>{{643,653},{452,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UILoading.png</string>
            <key>size</key>
            <string>{1024,1138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1eecf143ba11adf155f61c84de0d66e5:3987aaa244a3aaf5199374c022906f76:61b1d682d99d182bd43977ff9f588e69$</string>
            <key>textureFileName</key>
            <string>UILoading.png</string>
        </dict>
    </dict>
</plist>
