<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,119}</string>
                <key>spriteSourceSize</key>
                <string>{104,119}</string>
                <key>textureRect</key>
                <string>{{455,1139},{104,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1136}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,1136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingProBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,37}</string>
                <key>spriteSourceSize</key>
                <string>{10,37}</string>
                <key>textureRect</key>
                <string>{{455,1309},{10,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingProBarBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,47}</string>
                <key>spriteSourceSize</key>
                <string>{20,47}</string>
                <key>textureRect</key>
                <string>{{455,1260},{20,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingTitel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,269}</string>
                <key>spriteSourceSize</key>
                <string>{452,269}</string>
                <key>textureRect</key>
                <string>{{1,1139},{452,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UILoading.png</string>
            <key>size</key>
            <string>{642,1409}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ed5713b8abb26842fde249b4a3997dd:50c0933c6a3fca419b5c1bc298db1422:61b1d682d99d182bd43977ff9f588e69$</string>
            <key>textureFileName</key>
            <string>UILoading.png</string>
        </dict>
    </dict>
</plist>
