<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>desCost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{164,239},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desCost1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{55,419},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desTime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{114,312},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desTime1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{187,312},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manager0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{82,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{88,1},{82,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manager1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{172,1},{86,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>manager10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{74,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{88,177},{74,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manager11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{166,167},{70,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>manager20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{172,89},{76,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>manager21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{88,91},{76,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resMoney.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{118,385},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resMoney1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{191,375},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadowMan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,148}</string>
                <key>spriteSourceSize</key>
                <string>{52,148}</string>
                <key>textureRect</key>
                <string>{{1,317},{52,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillDescBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,85}</string>
                <key>spriteSourceSize</key>
                <string>{314,85}</string>
                <key>textureRect</key>
                <string>{{1,1},{314,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>useSkillBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,57}</string>
                <key>spriteSourceSize</key>
                <string>{100,57}</string>
                <key>textureRect</key>
                <string>{{55,317},{100,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIManager.png</string>
            <key>size</key>
            <string>{253,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:272743504e2304cbed90a8a67da2d784:c3c9781007cba08979ebf1215834f9bc:6cf4ced65d1038003a9a97c407e6744c$</string>
            <key>textureFileName</key>
            <string>UIManager.png</string>
        </dict>
    </dict>
</plist>
