<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MessageSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,51}</string>
                <key>spriteSourceSize</key>
                <string>{73,51}</string>
                <key>textureRect</key>
                <string>{{781,868},{73,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SeetingSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,63}</string>
                <key>spriteSourceSize</key>
                <string>{66,63}</string>
                <key>textureRect</key>
                <string>{{657,881},{66,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ShareSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,67}</string>
                <key>spriteSourceSize</key>
                <string>{57,67}</string>
                <key>textureRect</key>
                <string>{{722,868},{57,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{588,813},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{1343,547},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{1197,643},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{1343,569},{16,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,70}</string>
                <key>spriteSourceSize</key>
                <string>{171,70}</string>
                <key>textureRect</key>
                <string>{{1180,759},{171,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnBg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,29}</string>
                <key>spriteSourceSize</key>
                <string>{61,29}</string>
                <key>textureRect</key>
                <string>{{1146,783},{61,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnBg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,84}</string>
                <key>spriteSourceSize</key>
                <string>{96,84}</string>
                <key>textureRect</key>
                <string>{{977,783},{96,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buildingWall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,345}</string>
                <key>spriteSourceSize</key>
                <string>{25,345}</string>
                <key>textureRect</key>
                <string>{{1343,1},{25,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,17}</string>
                <key>spriteSourceSize</key>
                <string>{40,17}</string>
                <key>textureRect</key>
                <string>{{1343,411},{40,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coinSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{892,864},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>countBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,70}</string>
                <key>textureRect</key>
                <string>{{1252,759},{128,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamondSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{56,60}</string>
                <key>textureRect</key>
                <string>{{834,864},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floorTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,108}</string>
                <key>spriteSourceSize</key>
                <string>{607,108}</string>
                <key>textureRect</key>
                <string>{{588,643},{607,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handleBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,109}</string>
                <key>spriteSourceSize</key>
                <string>{42,109}</string>
                <key>textureRect</key>
                <string>{{1324,796},{42,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handlePoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,59}</string>
                <key>spriteSourceSize</key>
                <string>{49,59}</string>
                <key>textureRect</key>
                <string>{{800,813},{49,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headMask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{1063,783},{79,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>homeSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{588,881},{67,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,19}</string>
                <key>spriteSourceSize</key>
                <string>{25,19}</string>
                <key>textureRect</key>
                <string>{{1343,526},{25,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1136}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,1136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maxPro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,28}</string>
                <key>spriteSourceSize</key>
                <string>{590,28}</string>
                <key>textureRect</key>
                <string>{{588,753},{590,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maxProBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,28}</string>
                <key>spriteSourceSize</key>
                <string>{387,28}</string>
                <key>textureRect</key>
                <string>{{588,783},{387,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maxText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,15}</string>
                <key>spriteSourceSize</key>
                <string>{43,15}</string>
                <key>textureRect</key>
                <string>{{1343,453},{43,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>more.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,49}</string>
                <key>spriteSourceSize</key>
                <string>{54,49}</string>
                <key>textureRect</key>
                <string>{{861,813},{54,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mulText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{1343,587},{14,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prestigeSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,65}</string>
                <key>spriteSourceSize</key>
                <string>{62,65}</string>
                <key>textureRect</key>
                <string>{{1252,889},{62,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>proBar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,24}</string>
                <key>spriteSourceSize</key>
                <string>{61,24}</string>
                <key>textureRect</key>
                <string>{{1343,348},{61,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>proBar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{1343,498},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>proBarBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,32}</string>
                <key>spriteSourceSize</key>
                <string>{94,32}</string>
                <key>textureRect</key>
                <string>{{1327,643},{94,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rankSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,65}</string>
                <key>spriteSourceSize</key>
                <string>{77,65}</string>
                <key>textureRect</key>
                <string>{{1063,864},{77,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>road.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,202}</string>
                <key>spriteSourceSize</key>
                <string>{640,202}</string>
                <key>textureRect</key>
                <string>{{1139,1},{640,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{66,64}</string>
                <key>textureRect</key>
                <string>{{655,813},{66,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{951,881},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>updataSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,77}</string>
                <key>spriteSourceSize</key>
                <string>{53,77}</string>
                <key>textureRect</key>
                <string>{{721,813},{53,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>usdSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{1327,739},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zeroFloor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{585,308}</string>
                <key>spriteSourceSize</key>
                <string>{585,308}</string>
                <key>textureRect</key>
                <string>{{1,643},{585,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIMain.png</string>
            <key>size</key>
            <string>{1369,952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0dd4ec2047c5f48de462d406352cb5fd:4795282616d2d7fced6e21f6008664fb:341e6784416635ddfb01539e47b193c6$</string>
            <key>textureFileName</key>
            <string>UIMain.png</string>
        </dict>
    </dict>
</plist>
