<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,57}</string>
                <key>spriteSourceSize</key>
                <string>{76,57}</string>
                <key>textureRect</key>
                <string>{{103,1},{76,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,57}</string>
                <key>spriteSourceSize</key>
                <string>{76,57}</string>
                <key>textureRect</key>
                <string>{{181,1},{76,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{47,1},{53,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goodSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{1,1},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headMask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{259,1},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,92}</string>
                <key>spriteSourceSize</key>
                <string>{476,92}</string>
                <key>textureRect</key>
                <string>{{1,73},{476,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,92}</string>
                <key>spriteSourceSize</key>
                <string>{476,92}</string>
                <key>textureRect</key>
                <string>{{1,167},{476,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,92}</string>
                <key>spriteSourceSize</key>
                <string>{476,92}</string>
                <key>textureRect</key>
                <string>{{1,261},{476,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankBg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,92}</string>
                <key>spriteSourceSize</key>
                <string>{476,92}</string>
                <key>textureRect</key>
                <string>{{1,355},{476,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rank.png</string>
            <key>size</key>
            <string>{478,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:194907c7cbe518412fa15f889c6315e2:2052afe14bede59a7f880976b44d2b15:74cc68f98beed4c8a96adb0c26f30229$</string>
            <key>textureFileName</key>
            <string>rank.png</string>
        </dict>
    </dict>
</plist>
