<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnBg7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,42}</string>
                <key>spriteSourceSize</key>
                <string>{106,42}</string>
                <key>textureRect</key>
                <string>{{40,9},{106,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dollSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,65}</string>
                <key>spriteSourceSize</key>
                <string>{66,65}</string>
                <key>textureRect</key>
                <string>{{199,9},{66,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,6}</string>
                <key>spriteSourceSize</key>
                <string>{508,6}</string>
                <key>textureRect</key>
                <string>{{1,1},{508,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>proBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,37}</string>
                <key>spriteSourceSize</key>
                <string>{35,37}</string>
                <key>textureRect</key>
                <string>{{1,9},{35,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>proBarBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,47}</string>
                <key>spriteSourceSize</key>
                <string>{49,47}</string>
                <key>textureRect</key>
                <string>{{148,9},{49,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIWorker.png</string>
            <key>size</key>
            <string>{510,75}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2a1733eb2286c0a5a1d82194ffa3db0:bfb78dc058918000fd9d97d3c3cfd095:f547a56f16d0e116b87f0ae7fa659511$</string>
            <key>textureFileName</key>
            <string>UIWorker.png</string>
        </dict>
    </dict>
</plist>
