<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>customer0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-1}</string>
                <key>spriteSize</key>
                <string>{118,222}</string>
                <key>spriteSourceSize</key>
                <string>{170,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>customer1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{100,218}</string>
                <key>spriteSourceSize</key>
                <string>{170,230}</string>
                <key>textureRect</key>
                <string>{{1,121},{100,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>customer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{132,206}</string>
                <key>spriteSourceSize</key>
                <string>{170,230}</string>
                <key>textureRect</key>
                <string>{{211,379},{132,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>customer3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{136,210}</string>
                <key>spriteSourceSize</key>
                <string>{170,230}</string>
                <key>textureRect</key>
                <string>{{1,223},{136,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>customer4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{86,202}</string>
                <key>spriteSourceSize</key>
                <string>{170,230}</string>
                <key>textureRect</key>
                <string>{{205,513},{86,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>customer5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{118,202}</string>
                <key>spriteSourceSize</key>
                <string>{170,230}</string>
                <key>textureRect</key>
                <string>{{213,259},{118,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>customer6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{98,202}</string>
                <key>spriteSourceSize</key>
                <string>{170,230}</string>
                <key>textureRect</key>
                <string>{{1,481},{98,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>customer7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-14}</string>
                <key>spriteSize</key>
                <string>{102,196}</string>
                <key>spriteSourceSize</key>
                <string>{170,230}</string>
                <key>textureRect</key>
                <string>{{221,155},{102,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>customer8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{152,180}</string>
                <key>spriteSourceSize</key>
                <string>{170,230}</string>
                <key>textureRect</key>
                <string>{{225,1},{152,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>customer9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{118,208}</string>
                <key>spriteSourceSize</key>
                <string>{170,230}</string>
                <key>textureRect</key>
                <string>{{1,361},{118,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Customer.png</string>
            <key>size</key>
            <string>{418,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ad0b47524123f362440ec046b89bf94:d639c12e4d62be1fc902fbd368e1b5a1:1c035724e6171711b43414bb6db723e8$</string>
            <key>textureFileName</key>
            <string>Customer.png</string>
        </dict>
    </dict>
</plist>
