<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adBuffClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{566,448},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adBuffSpriteBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,353}</string>
                <key>spriteSourceSize</key>
                <string>{465,353}</string>
                <key>textureRect</key>
                <string>{{960,1},{465,353}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adBuffSpriteBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,274}</string>
                <key>spriteSourceSize</key>
                <string>{350,274}</string>
                <key>textureRect</key>
                <string>{{1711,1},{350,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adbuffBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{114,154}</string>
                <key>spriteSourceSize</key>
                <string>{114,156}</string>
                <key>textureRect</key>
                <string>{{1869,353},{114,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adbuffBtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{114,154}</string>
                <key>spriteSourceSize</key>
                <string>{114,156}</string>
                <key>textureRect</key>
                <string>{{1869,353},{114,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circleArrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,108}</string>
                <key>spriteSourceSize</key>
                <string>{72,108}</string>
                <key>textureRect</key>
                <string>{{1420,398},{72,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circleBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,105}</string>
                <key>spriteSourceSize</key>
                <string>{103,105}</string>
                <key>textureRect</key>
                <string>{{1315,398},{103,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circleCenter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{1711,353},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circleClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,59}</string>
                <key>spriteSourceSize</key>
                <string>{51,59}</string>
                <key>textureRect</key>
                <string>{{513,448},{51,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circleMain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,394}</string>
                <key>spriteSourceSize</key>
                <string>{395,394}</string>
                <key>textureRect</key>
                <string>{{1315,1},{395,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circleborder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,510}</string>
                <key>spriteSourceSize</key>
                <string>{510,510}</string>
                <key>textureRect</key>
                <string>{{1,1},{510,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewardBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,445}</string>
                <key>spriteSourceSize</key>
                <string>{447,447}</string>
                <key>textureRect</key>
                <string>{{513,1},{445,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>extend.png</string>
            <key>size</key>
            <string>{1986,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0494b332579620445010c18d4acc8b34:0599974f4baa936198d058401efc223b:8cd2cd46e78faedce1fd5ac72e7a4e36$</string>
            <key>textureFileName</key>
            <string>extend.png</string>
        </dict>
    </dict>
</plist>
