<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1575,1075}</string>
                <key>spriteSourceSize</key>
                <string>{1575,1075}</string>
                <key>textureRect</key>
                <string>{{1,1},{1575,1075}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1575,1075}</string>
                <key>spriteSourceSize</key>
                <string>{1575,1075}</string>
                <key>textureRect</key>
                <string>{{1,1078},{1575,1075}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1575,1075}</string>
                <key>spriteSourceSize</key>
                <string>{1575,1075}</string>
                <key>textureRect</key>
                <string>{{1,2155},{1575,1075}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameBg.png</string>
            <key>size</key>
            <string>{1577,3231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:def0ad5dbe0aa3eb5fed35c45c381d74:b7a995c9728c105344b08c2cd3bf0ff8:2a347f6f945cfc11cf9d8c6d9d8fec4b$</string>
            <key>textureFileName</key>
            <string>gameBg.png</string>
        </dict>
    </dict>
</plist>
