<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>particle0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,161}</string>
                <key>spriteSourceSize</key>
                <string>{199,161}</string>
                <key>textureRect</key>
                <string>{{1,1},{199,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>particle0.png</string>
            <key>size</key>
            <string>{201,163}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c92d1ea87d9b3c9a7ac62011a2aa3e6a:cbb0aecf545b3b2293eb908746c5d703:5f7935af52eedcd4e5d637808cecefe4$</string>
            <key>textureFileName</key>
            <string>particle0.png</string>
        </dict>
    </dict>
</plist>
