<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>car0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,121}</string>
                <key>spriteSourceSize</key>
                <string>{246,121}</string>
                <key>textureRect</key>
                <string>{{1,96},{246,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,114}</string>
                <key>spriteSourceSize</key>
                <string>{197,114}</string>
                <key>textureRect</key>
                <string>{{1,219},{197,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,93}</string>
                <key>spriteSourceSize</key>
                <string>{254,93}</string>
                <key>textureRect</key>
                <string>{{1,1},{254,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SpCar.png</string>
            <key>size</key>
            <string>{256,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:763d5e368253fe1915305035f336e219:442980cfbe5d13af5e8ddd0b8661256d:922ab1c83cc31af3d2e2afabf2c5c56d$</string>
            <key>textureFileName</key>
            <string>SpCar.png</string>
        </dict>
    </dict>
</plist>
