<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fightChicken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{137,130}</string>
                <key>spriteSourceSize</key>
                <string>{155,140}</string>
                <key>textureRect</key>
                <string>{{148,1},{137,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,1}</string>
                <key>spriteSize</key>
                <string>{111,130}</string>
                <key>spriteSourceSize</key>
                <string>{155,140}</string>
                <key>textureRect</key>
                <string>{{265,133},{111,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lotteryTickets.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,96}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{255,265},{112,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lotto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,113}</string>
                <key>spriteSourceSize</key>
                <string>{131,113}</string>
                <key>textureRect</key>
                <string>{{140,265},{131,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>magerChicken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{117,130}</string>
                <key>spriteSourceSize</key>
                <string>{155,140}</string>
                <key>textureRect</key>
                <string>{{146,133},{117,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>renamingCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{98,90}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{287,1},{98,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sEnergyDrinks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,130}</string>
                <key>spriteSourceSize</key>
                <string>{155,140}</string>
                <key>textureRect</key>
                <string>{{1,133},{143,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sGooChicken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{145,130}</string>
                <key>spriteSourceSize</key>
                <string>{155,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{145,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>salesPromotion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{137,130}</string>
                <key>spriteSourceSize</key>
                <string>{155,140}</string>
                <key>textureRect</key>
                <string>{{1,265},{137,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SpProp.png</string>
            <key>size</key>
            <string>{378,397}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddc8a6c7632be1cb165d1db0005e66e0:9122bf1937e5b2fe6885de4d9f78dfc9:018d289206107dadd2afa7fd2e99e5d5$</string>
            <key>textureFileName</key>
            <string>SpProp.png</string>
        </dict>
    </dict>
</plist>
