<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fightChicken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,140}</string>
                <key>spriteSourceSize</key>
                <string>{155,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{155,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lotteryTickets.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,96}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{143,285},{112,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lotto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,113}</string>
                <key>spriteSourceSize</key>
                <string>{131,113}</string>
                <key>textureRect</key>
                <string>{{300,158},{131,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magerChicken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,140}</string>
                <key>spriteSourceSize</key>
                <string>{155,140}</string>
                <key>textureRect</key>
                <string>{{1,158},{155,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>renamingCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{300,273},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sEnergyDrinks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,140}</string>
                <key>spriteSourceSize</key>
                <string>{155,140}</string>
                <key>textureRect</key>
                <string>{{143,1},{155,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sGooChicken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,140}</string>
                <key>spriteSourceSize</key>
                <string>{155,140}</string>
                <key>textureRect</key>
                <string>{{300,1},{155,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>salesPromotion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,140}</string>
                <key>spriteSourceSize</key>
                <string>{155,140}</string>
                <key>textureRect</key>
                <string>{{143,143},{155,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SpProp.png</string>
            <key>size</key>
            <string>{441,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee1fbf4cd3bf3373639a8faeb73f55b1:ad047c6460740790d4ee5489967b05e3:018d289206107dadd2afa7fd2e99e5d5$</string>
            <key>textureFileName</key>
            <string>SpProp.png</string>
        </dict>
    </dict>
</plist>
