<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>algamSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,286}</string>
                <key>spriteSourceSize</key>
                <string>{567,286}</string>
                <key>textureRect</key>
                <string>{{643,3128},{567,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingFloorBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,371}</string>
                <key>spriteSourceSize</key>
                <string>{640,371}</string>
                <key>textureRect</key>
                <string>{{643,965},{640,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingFloorBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,371}</string>
                <key>spriteSourceSize</key>
                <string>{640,371}</string>
                <key>textureRect</key>
                <string>{{1285,965},{640,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingFloorBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,371}</string>
                <key>spriteSourceSize</key>
                <string>{640,371}</string>
                <key>textureRect</key>
                <string>{{1,1929},{640,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingFloorBg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,371}</string>
                <key>spriteSourceSize</key>
                <string>{640,371}</string>
                <key>textureRect</key>
                <string>{{643,1338},{640,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingFloorBg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,371}</string>
                <key>spriteSourceSize</key>
                <string>{640,371}</string>
                <key>textureRect</key>
                <string>{{1285,1338},{640,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingFloorBg5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,371}</string>
                <key>spriteSourceSize</key>
                <string>{640,371}</string>
                <key>textureRect</key>
                <string>{{1,2302},{640,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingFloorBg6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,371}</string>
                <key>spriteSourceSize</key>
                <string>{640,371}</string>
                <key>textureRect</key>
                <string>{{643,1711},{640,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingFloorBg7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,371}</string>
                <key>spriteSourceSize</key>
                <string>{640,371}</string>
                <key>textureRect</key>
                <string>{{1285,1711},{640,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingTop0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingTop1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1,483},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingTop2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{643,1},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingTop3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1285,1},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingTop4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1,965},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingTop5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{643,483},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingTop6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1285,483},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildingTop7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1,1447},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,87}</string>
                <key>spriteSourceSize</key>
                <string>{92,87}</string>
                <key>textureRect</key>
                <string>{{1212,3346},{92,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lockBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,142}</string>
                <key>spriteSourceSize</key>
                <string>{329,142}</string>
                <key>textureRect</key>
                <string>{{1212,3202},{329,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lockSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,47}</string>
                <key>spriteSourceSize</key>
                <string>{33,47}</string>
                <key>textureRect</key>
                <string>{{1,3371},{33,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,142}</string>
                <key>spriteSourceSize</key>
                <string>{329,142}</string>
                <key>textureRect</key>
                <string>{{1543,3202},{329,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,72}</string>
                <key>spriteSourceSize</key>
                <string>{640,72}</string>
                <key>textureRect</key>
                <string>{{1212,3128},{640,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zeroSprite0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,346}</string>
                <key>spriteSourceSize</key>
                <string>{640,346}</string>
                <key>textureRect</key>
                <string>{{1,2675},{640,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zeroSprite1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,346}</string>
                <key>spriteSourceSize</key>
                <string>{640,346}</string>
                <key>textureRect</key>
                <string>{{643,2084},{640,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zeroSprite2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,346}</string>
                <key>spriteSourceSize</key>
                <string>{640,346}</string>
                <key>textureRect</key>
                <string>{{1285,2084},{640,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zeroSprite3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,346}</string>
                <key>spriteSourceSize</key>
                <string>{640,346}</string>
                <key>textureRect</key>
                <string>{{1,3023},{640,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zeroSprite4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,346}</string>
                <key>spriteSourceSize</key>
                <string>{640,346}</string>
                <key>textureRect</key>
                <string>{{643,2432},{640,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zeroSprite5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,346}</string>
                <key>spriteSourceSize</key>
                <string>{640,346}</string>
                <key>textureRect</key>
                <string>{{1285,2432},{640,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zeroSprite6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,346}</string>
                <key>spriteSourceSize</key>
                <string>{640,346}</string>
                <key>textureRect</key>
                <string>{{643,2780},{640,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zeroSprite7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,346}</string>
                <key>spriteSourceSize</key>
                <string>{640,346}</string>
                <key>textureRect</key>
                <string>{{1285,2780},{640,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIBuilding.png</string>
            <key>size</key>
            <string>{1926,3434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dcb92eca7945c4f2d058226da7e855c:59d8ed2e9310444c59245b032512b6cb:6804334f92cac1040ecff3e7e0036a73$</string>
            <key>textureFileName</key>
            <string>UIBuilding.png</string>
        </dict>
    </dict>
</plist>
