<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BackBuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{739,1},{94,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buildContent0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{1,13},{607,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildContent1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{629,371}</string>
                <key>spriteSourceSize</key>
                <string>{629,371}</string>
                <key>textureRect</key>
                <string>{{1,759},{629,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildContent2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{632,371}</string>
                <key>spriteSourceSize</key>
                <string>{632,371}</string>
                <key>textureRect</key>
                <string>{{1,1505},{632,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildContent3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{610,97},{607,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buildContent4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{1,386},{607,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildContent5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{632,706},{607,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buildContent6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{1,1132},{607,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildContent7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{635,1315},{607,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,86}</string>
                <key>spriteSourceSize</key>
                <string>{94,86}</string>
                <key>textureRect</key>
                <string>{{643,1},{94,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roadLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,10}</string>
                <key>spriteSourceSize</key>
                <string>{640,10}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIBuilding1.png</string>
            <key>size</key>
            <string>{1007,1923}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ecae0b9bdb3a3878661b7dafce59924:b5c65cba9dd7b6fcff672f86e5e938e3:40c19dc70d34fef6f00d6e12060af272$</string>
            <key>textureFileName</key>
            <string>UIBuilding1.png</string>
        </dict>
    </dict>
</plist>
