<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bName0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,65}</string>
                <key>spriteSourceSize</key>
                <string>{536,65}</string>
                <key>textureRect</key>
                <string>{{1,130},{536,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bName1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,64}</string>
                <key>spriteSourceSize</key>
                <string>{277,64}</string>
                <key>textureRect</key>
                <string>{{1,13},{277,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bName2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,61}</string>
                <key>spriteSourceSize</key>
                <string>{210,61}</string>
                <key>textureRect</key>
                <string>{{643,1},{210,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bName3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,64}</string>
                <key>spriteSourceSize</key>
                <string>{253,64}</string>
                <key>textureRect</key>
                <string>{{280,13},{253,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bName4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,64}</string>
                <key>spriteSourceSize</key>
                <string>{230,64}</string>
                <key>textureRect</key>
                <string>{{535,64},{230,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildContent0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{610,371}</string>
                <key>spriteSourceSize</key>
                <string>{640,371}</string>
                <key>textureRect</key>
                <string>{{1,197},{610,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildContent1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{613,130},{607,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buildContent2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{1,570},{607,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildContent3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{629,371}</string>
                <key>spriteSourceSize</key>
                <string>{629,371}</string>
                <key>textureRect</key>
                <string>{{1,943},{629,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildContent4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{632,371}</string>
                <key>spriteSourceSize</key>
                <string>{632,371}</string>
                <key>textureRect</key>
                <string>{{632,739},{632,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goBuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,86}</string>
                <key>spriteSourceSize</key>
                <string>{94,86}</string>
                <key>textureRect</key>
                <string>{{855,1},{94,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roadLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,10}</string>
                <key>spriteSourceSize</key>
                <string>{640,10}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIBuilding1.png</string>
            <key>size</key>
            <string>{1004,1372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebac7c8a97c57423089d8677b3b63d83:a5a4a66b3b7ec1622ef898f377692877:40c19dc70d34fef6f00d6e12060af272$</string>
            <key>textureFileName</key>
            <string>UIBuilding1.png</string>
        </dict>
    </dict>
</plist>
