<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>!Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{300,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,70}</string>
                <key>spriteSourceSize</key>
                <string>{93,70}</string>
                <key>textureRect</key>
                <string>{{1867,0},{93,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achieve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,511}</string>
                <key>spriteSourceSize</key>
                <string>{640,511}</string>
                <key>textureRect</key>
                <string>{{0,1065},{640,511}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrowSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,65}</string>
                <key>spriteSourceSize</key>
                <string>{59,65}</string>
                <key>textureRect</key>
                <string>{{1720,0},{59,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,162}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{1574,182},{162,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,188}</string>
                <key>spriteSourceSize</key>
                <string>{188,188}</string>
                <key>textureRect</key>
                <string>{{149,349},{188,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,125}</string>
                <key>spriteSourceSize</key>
                <string>{145,125}</string>
                <key>textureRect</key>
                <string>{{590,182},{145,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,690}</string>
                <key>spriteSourceSize</key>
                <string>{620,690}</string>
                <key>textureRect</key>
                <string>{{640,1065},{620,690}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1012,70},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,66}</string>
                <key>spriteSourceSize</key>
                <string>{88,66}</string>
                <key>textureRect</key>
                <string>{{1779,0},{88,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{1424,182},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,207}</string>
                <key>spriteSourceSize</key>
                <string>{195,207}</string>
                <key>textureRect</key>
                <string>{{1016,349},{195,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1709,70},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1112,70},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,51}</string>
                <key>spriteSourceSize</key>
                <string>{102,51}</string>
                <key>textureRect</key>
                <string>{{340,0},{102,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,62}</string>
                <key>spriteSourceSize</key>
                <string>{101,62}</string>
                <key>textureRect</key>
                <string>{{878,0},{101,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottomShadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,16}</string>
                <key>spriteSourceSize</key>
                <string>{74,16}</string>
                <key>textureRect</key>
                <string>{{0,0},{74,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,31}</string>
                <key>spriteSourceSize</key>
                <string>{95,31}</string>
                <key>textureRect</key>
                <string>{{74,0},{95,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,142}</string>
                <key>spriteSourceSize</key>
                <string>{175,142}</string>
                <key>textureRect</key>
                <string>{{1249,182},{175,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildArrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,94}</string>
                <key>spriteSourceSize</key>
                <string>{86,94}</string>
                <key>textureRect</key>
                <string>{{840,70},{86,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildArrow0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,94}</string>
                <key>spriteSourceSize</key>
                <string>{86,94}</string>
                <key>textureRect</key>
                <string>{{926,70},{86,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circleBlack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{137,70},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circleYellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{0,70},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closeSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,71}</string>
                <key>spriteSourceSize</key>
                <string>{66,71}</string>
                <key>textureRect</key>
                <string>{{71,70},{66,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinSprite1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,204}</string>
                <key>spriteSourceSize</key>
                <string>{302,204}</string>
                <key>textureRect</key>
                <string>{{509,349},{302,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamondBuyBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,433}</string>
                <key>spriteSourceSize</key>
                <string>{433,433}</string>
                <key>textureRect</key>
                <string>{{1157,632},{433,433}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamondBuySprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{481,388}</string>
                <key>spriteSourceSize</key>
                <string>{481,388}</string>
                <key>textureRect</key>
                <string>{{676,632},{481,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamondSprite1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,198}</string>
                <key>spriteSourceSize</key>
                <string>{172,198}</string>
                <key>textureRect</key>
                <string>{{337,349},{172,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyGift0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,91}</string>
                <key>spriteSourceSize</key>
                <string>{146,91}</string>
                <key>textureRect</key>
                <string>{{694,70},{146,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>getItNowBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,107}</string>
                <key>spriteSourceSize</key>
                <string>{294,107}</string>
                <key>textureRect</key>
                <string>{{1212,70},{294,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>getMoreSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,319}</string>
                <key>spriteSourceSize</key>
                <string>{451,319}</string>
                <key>textureRect</key>
                <string>{{0,632},{451,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>greenBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,62}</string>
                <key>spriteSourceSize</key>
                <string>{101,62}</string>
                <key>textureRect</key>
                <string>{{777,0},{101,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>greenBtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,125}</string>
                <key>spriteSourceSize</key>
                <string>{250,125}</string>
                <key>textureRect</key>
                <string>{{735,182},{250,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,133}</string>
                <key>spriteSourceSize</key>
                <string>{113,133}</string>
                <key>textureRect</key>
                <string>{{985,182},{113,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>homeBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,709}</string>
                <key>spriteSourceSize</key>
                <string>{532,709}</string>
                <key>textureRect</key>
                <string>{{1260,1065},{532,709}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,205}</string>
                <key>spriteSourceSize</key>
                <string>{205,205}</string>
                <key>textureRect</key>
                <string>{{811,349},{205,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lockSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,168}</string>
                <key>spriteSourceSize</key>
                <string>{149,168}</string>
                <key>textureRect</key>
                <string>{{0,349},{149,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>managerUpgradeBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,112}</string>
                <key>spriteSourceSize</key>
                <string>{203,112}</string>
                <key>textureRect</key>
                <string>{{1506,70},{203,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,60}</string>
                <key>spriteSourceSize</key>
                <string>{170,60}</string>
                <key>textureRect</key>
                <string>{{442,0},{170,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,72}</string>
                <key>spriteSourceSize</key>
                <string>{65,72}</string>
                <key>textureRect</key>
                <string>{{208,70},{65,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,63}</string>
                <key>spriteSourceSize</key>
                <string>{187,63}</string>
                <key>textureRect</key>
                <string>{{1533,0},{187,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>onSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,63}</string>
                <key>spriteSourceSize</key>
                <string>{187,63}</string>
                <key>textureRect</key>
                <string>{{1346,0},{187,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>presitigeSelect0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,62}</string>
                <key>spriteSourceSize</key>
                <string>{165,62}</string>
                <key>textureRect</key>
                <string>{{979,0},{165,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>presitigeSelect1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,62}</string>
                <key>spriteSourceSize</key>
                <string>{165,62}</string>
                <key>textureRect</key>
                <string>{{612,0},{165,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prestigeDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,134}</string>
                <key>spriteSourceSize</key>
                <string>{151,134}</string>
                <key>textureRect</key>
                <string>{{1098,182},{151,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>propBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,80}</string>
                <key>spriteSourceSize</key>
                <string>{152,80}</string>
                <key>textureRect</key>
                <string>{{425,70},{152,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>propBarBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,80}</string>
                <key>spriteSourceSize</key>
                <string>{152,80}</string>
                <key>textureRect</key>
                <string>{{273,70},{152,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>proveiwBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,80}</string>
                <key>spriteSourceSize</key>
                <string>{117,80}</string>
                <key>textureRect</key>
                <string>{{577,70},{117,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,62}</string>
                <key>spriteSourceSize</key>
                <string>{101,62}</string>
                <key>textureRect</key>
                <string>{{1144,0},{101,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>storeItemBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,355}</string>
                <key>spriteSourceSize</key>
                <string>{225,355}</string>
                <key>textureRect</key>
                <string>{{451,632},{225,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,167}</string>
                <key>spriteSourceSize</key>
                <string>{238,167}</string>
                <key>textureRect</key>
                <string>{{1736,182},{238,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>textBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,36}</string>
                <key>spriteSourceSize</key>
                <string>{88,36}</string>
                <key>textureRect</key>
                <string>{{169,0},{88,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titelBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,118}</string>
                <key>spriteSourceSize</key>
                <string>{340,118}</string>
                <key>textureRect</key>
                <string>{{0,182},{340,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,283}</string>
                <key>spriteSourceSize</key>
                <string>{607,283}</string>
                <key>textureRect</key>
                <string>{{1211,349},{607,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>videoSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,38}</string>
                <key>spriteSourceSize</key>
                <string>{43,38}</string>
                <key>textureRect</key>
                <string>{{257,0},{43,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellowBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,62}</string>
                <key>spriteSourceSize</key>
                <string>{101,62}</string>
                <key>textureRect</key>
                <string>{{1245,0},{101,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellowBtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,125}</string>
                <key>spriteSourceSize</key>
                <string>{250,125}</string>
                <key>textureRect</key>
                <string>{{340,182},{250,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UICommon.png</string>
            <key>size</key>
            <string>{1974,1774}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:706686454ee2c64e749a45136ff5297e:95408377a5b807f9fb7fb39782812169:e8504945c462cbb34a003973367caf2c$</string>
            <key>textureFileName</key>
            <string>UICommon.png</string>
        </dict>
    </dict>
</plist>
