<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MessageSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,59}</string>
                <key>spriteSourceSize</key>
                <string>{71,59}</string>
                <key>textureRect</key>
                <string>{{1138,812},{71,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SeetingSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,69}</string>
                <key>spriteSourceSize</key>
                <string>{73,69}</string>
                <key>textureRect</key>
                <string>{{889,881},{73,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ShareSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,77}</string>
                <key>spriteSourceSize</key>
                <string>{68,77}</string>
                <key>textureRect</key>
                <string>{{1198,873},{68,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,69}</string>
                <key>spriteSourceSize</key>
                <string>{73,69}</string>
                <key>textureRect</key>
                <string>{{960,881},{73,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>addSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{1299,737},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{759,783},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,57}</string>
                <key>spriteSourceSize</key>
                <string>{100,57}</string>
                <key>textureRect</key>
                <string>{{1197,715},{100,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{1321,744},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,70}</string>
                <key>spriteSourceSize</key>
                <string>{171,70}</string>
                <key>textureRect</key>
                <string>{{588,783},{171,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnBg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,29}</string>
                <key>spriteSourceSize</key>
                <string>{61,29}</string>
                <key>textureRect</key>
                <string>{{1073,753},{61,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,84}</string>
                <key>spriteSourceSize</key>
                <string>{96,84}</string>
                <key>textureRect</key>
                <string>{{889,783},{96,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buildingWall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,345}</string>
                <key>spriteSourceSize</key>
                <string>{25,345}</string>
                <key>textureRect</key>
                <string>{{1373,1},{25,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,17}</string>
                <key>spriteSourceSize</key>
                <string>{40,17}</string>
                <key>textureRect</key>
                <string>{{870,899},{40,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coinSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{1138,753},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>countBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,70}</string>
                <key>textureRect</key>
                <string>{{1197,643},{128,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamondSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{56,60}</string>
                <key>textureRect</key>
                <string>{{1339,744},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floorTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,108}</string>
                <key>spriteSourceSize</key>
                <string>{607,108}</string>
                <key>textureRect</key>
                <string>{{588,643},{607,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handleBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,109}</string>
                <key>spriteSourceSize</key>
                <string>{42,109}</string>
                <key>textureRect</key>
                <string>{{759,899},{42,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handlePoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,59}</string>
                <key>spriteSourceSize</key>
                <string>{49,59}</string>
                <key>textureRect</key>
                <string>{{1339,806},{49,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headMask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{1031,873},{79,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>homeSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{66,68}</string>
                <key>textureRect</key>
                <string>{{1343,593},{66,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,19}</string>
                <key>spriteSourceSize</key>
                <string>{25,19}</string>
                <key>textureRect</key>
                <string>{{1390,468},{25,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mainBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1136}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,1136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maxPro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,28}</string>
                <key>spriteSourceSize</key>
                <string>{590,28}</string>
                <key>textureRect</key>
                <string>{{1343,1},{590,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maxProBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,28}</string>
                <key>spriteSourceSize</key>
                <string>{387,28}</string>
                <key>textureRect</key>
                <string>{{588,753},{387,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maxText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,15}</string>
                <key>spriteSourceSize</key>
                <string>{43,15}</string>
                <key>textureRect</key>
                <string>{{1373,468},{43,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>milepostSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{1327,663},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,49}</string>
                <key>spriteSourceSize</key>
                <string>{54,49}</string>
                <key>textureRect</key>
                <string>{{1287,848},{54,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mulText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{1327,643},{14,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prestigeSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,84}</string>
                <key>spriteSourceSize</key>
                <string>{75,84}</string>
                <key>textureRect</key>
                <string>{{1061,787},{75,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>proBar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,24}</string>
                <key>spriteSourceSize</key>
                <string>{61,24}</string>
                <key>textureRect</key>
                <string>{{1373,348},{61,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>proBar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{1299,715},{20,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>proBarBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,32}</string>
                <key>spriteSourceSize</key>
                <string>{94,32}</string>
                <key>textureRect</key>
                <string>{{977,753},{94,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,50}</string>
                <key>spriteSourceSize</key>
                <string>{72,50}</string>
                <key>textureRect</key>
                <string>{{1287,774},{72,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>road.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,202}</string>
                <key>spriteSourceSize</key>
                <string>{640,202}</string>
                <key>textureRect</key>
                <string>{{1139,1},{640,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{975,787},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,167}</string>
                <key>spriteSourceSize</key>
                <string>{97,167}</string>
                <key>textureRect</key>
                <string>{{660,783},{97,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>updataSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,78}</string>
                <key>spriteSourceSize</key>
                <string>{84,78}</string>
                <key>textureRect</key>
                <string>{{1112,873},{84,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usdSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{1373,411},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{74,86}</string>
                <key>textureRect</key>
                <string>{{1211,774},{74,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zeroFloor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{585,308}</string>
                <key>spriteSourceSize</key>
                <string>{585,308}</string>
                <key>textureRect</key>
                <string>{{1,643},{585,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIMain.png</string>
            <key>size</key>
            <string>{1410,955}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56e682fb34acbef600b10e16dc2ccc51:67a62120667bbd2fdc09e9f4532a8e8d:341e6784416635ddfb01539e47b193c6$</string>
            <key>textureFileName</key>
            <string>UIMain.png</string>
        </dict>
    </dict>
</plist>
