<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MessageSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,59}</string>
                <key>spriteSourceSize</key>
                <string>{71,59}</string>
                <key>textureRect</key>
                <string>{{225,345},{71,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SeetingSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,69}</string>
                <key>spriteSourceSize</key>
                <string>{73,69}</string>
                <key>textureRect</key>
                <string>{{1,345},{73,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ShareSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,77}</string>
                <key>spriteSourceSize</key>
                <string>{68,77}</string>
                <key>textureRect</key>
                <string>{{929,246},{68,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,69}</string>
                <key>spriteSourceSize</key>
                <string>{73,69}</string>
                <key>textureRect</key>
                <string>{{76,345},{73,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{826,298},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{742,1},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,57}</string>
                <key>spriteSourceSize</key>
                <string>{100,57}</string>
                <key>textureRect</key>
                <string>{{902,348},{100,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{848,298},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,70}</string>
                <key>spriteSourceSize</key>
                <string>{171,70}</string>
                <key>textureRect</key>
                <string>{{643,170},{171,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,29}</string>
                <key>spriteSourceSize</key>
                <string>{61,29}</string>
                <key>textureRect</key>
                <string>{{826,235},{61,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnBg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,84}</string>
                <key>spriteSourceSize</key>
                <string>{96,84}</string>
                <key>textureRect</key>
                <string>{{740,242},{96,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buildingWall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,345}</string>
                <key>spriteSourceSize</key>
                <string>{25,345}</string>
                <key>textureRect</key>
                <string>{{902,1},{25,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,17}</string>
                <key>spriteSourceSize</key>
                <string>{40,17}</string>
                <key>textureRect</key>
                <string>{{853,117},{40,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coinSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{493,345},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>countBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,70}</string>
                <key>textureRect</key>
                <string>{{610,242},{128,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamondSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{56,60}</string>
                <key>textureRect</key>
                <string>{{431,345},{56,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floorTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,108}</string>
                <key>spriteSourceSize</key>
                <string>{607,108}</string>
                <key>textureRect</key>
                <string>{{1,205},{607,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handleBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,109}</string>
                <key>spriteSourceSize</key>
                <string>{42,109}</string>
                <key>textureRect</key>
                <string>{{742,117},{42,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handlePoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,59}</string>
                <key>spriteSourceSize</key>
                <string>{49,59}</string>
                <key>textureRect</key>
                <string>{{816,340},{49,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headMask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{79,81}</string>
                <key>textureRect</key>
                <string>{{929,1},{79,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>homeSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{66,68}</string>
                <key>textureRect</key>
                <string>{{298,345},{66,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,19}</string>
                <key>spriteSourceSize</key>
                <string>{25,19}</string>
                <key>textureRect</key>
                <string>{{867,390},{25,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maxPro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,28}</string>
                <key>spriteSourceSize</key>
                <string>{590,28}</string>
                <key>textureRect</key>
                <string>{{1,315},{590,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maxProBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,28}</string>
                <key>spriteSourceSize</key>
                <string>{387,28}</string>
                <key>textureRect</key>
                <string>{{872,1},{387,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maxText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,15}</string>
                <key>spriteSourceSize</key>
                <string>{43,15}</string>
                <key>textureRect</key>
                <string>{{816,401},{43,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>milepostSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{929,84},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,49}</string>
                <key>spriteSourceSize</key>
                <string>{54,49}</string>
                <key>textureRect</key>
                <string>{{552,345},{54,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mulText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{848,318},{14,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prestigeSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,84}</string>
                <key>spriteSourceSize</key>
                <string>{75,84}</string>
                <key>textureRect</key>
                <string>{{730,340},{75,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>proBar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,24}</string>
                <key>spriteSourceSize</key>
                <string>{61,24}</string>
                <key>textureRect</key>
                <string>{{368,345},{61,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>proBar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{610,205},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>proBarBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,32}</string>
                <key>spriteSourceSize</key>
                <string>{94,32}</string>
                <key>textureRect</key>
                <string>{{696,314},{94,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rankSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,50}</string>
                <key>spriteSourceSize</key>
                <string>{72,50}</string>
                <key>textureRect</key>
                <string>{{816,161},{72,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>road.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,202}</string>
                <key>spriteSourceSize</key>
                <string>{640,202}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,72}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{151,345},{71,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,167}</string>
                <key>spriteSourceSize</key>
                <string>{97,167}</string>
                <key>textureRect</key>
                <string>{{643,1},{97,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>updataSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,78}</string>
                <key>spriteSourceSize</key>
                <string>{84,78}</string>
                <key>textureRect</key>
                <string>{{610,314},{84,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usdSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,55}</string>
                <key>textureRect</key>
                <string>{{368,371},{35,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>worldSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,79}</string>
                <key>spriteSourceSize</key>
                <string>{67,79}</string>
                <key>textureRect</key>
                <string>{{929,165},{67,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIMain.png</string>
            <key>size</key>
            <string>{1009,417}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3801edcd1924c7ed09c786d6a47bc9e4:b26fe0d1ff81ba07845627d58f829d20:341e6784416635ddfb01539e47b193c6$</string>
            <key>textureFileName</key>
            <string>UIMain.png</string>
        </dict>
    </dict>
</plist>
