<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chargeBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,77}</string>
                <key>spriteSourceSize</key>
                <string>{196,77}</string>
                <key>textureRect</key>
                <string>{{535,353},{196,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goodBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{614,353},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goodBuyBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,57}</string>
                <key>spriteSourceSize</key>
                <string>{163,57}</string>
                <key>textureRect</key>
                <string>{{535,551},{163,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,714}</string>
                <key>spriteSourceSize</key>
                <string>{532,714}</string>
                <key>textureRect</key>
                <string>{{1,1},{532,714}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{535,610},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,68}</string>
                <key>spriteSourceSize</key>
                <string>{47,68}</string>
                <key>textureRect</key>
                <string>{{614,469},{47,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopCross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,87}</string>
                <key>spriteSourceSize</key>
                <string>{654,87}</string>
                <key>textureRect</key>
                <string>{{1,717},{654,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopItemBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,350}</string>
                <key>spriteSourceSize</key>
                <string>{225,350}</string>
                <key>textureRect</key>
                <string>{{535,1},{225,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopSelectBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,91}</string>
                <key>spriteSourceSize</key>
                <string>{103,91}</string>
                <key>textureRect</key>
                <string>{{657,610},{103,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIShop.png</string>
            <key>size</key>
            <string>{761,805}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fded6883402cc8f2f3849281d8b5d7eb:e02adc0fb1c698edf03e79865998ec8a:5dff9365c6c14675677185d52acaa034$</string>
            <key>textureFileName</key>
            <string>UIShop.png</string>
        </dict>
    </dict>
</plist>
