<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chargeBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,77}</string>
                <key>spriteSourceSize</key>
                <string>{196,77}</string>
                <key>textureRect</key>
                <string>{{512,717},{196,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goodBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{591,710},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goodBuyBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,57}</string>
                <key>spriteSourceSize</key>
                <string>{163,57}</string>
                <key>textureRect</key>
                <string>{{512,915},{163,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,714}</string>
                <key>spriteSourceSize</key>
                <string>{532,714}</string>
                <key>textureRect</key>
                <string>{{1,1},{532,714}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,199}</string>
                <key>spriteSourceSize</key>
                <string>{152,199}</string>
                <key>textureRect</key>
                <string>{{851,1},{152,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,199}</string>
                <key>spriteSourceSize</key>
                <string>{152,199}</string>
                <key>textureRect</key>
                <string>{{851,202},{152,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,199}</string>
                <key>spriteSourceSize</key>
                <string>{152,199}</string>
                <key>textureRect</key>
                <string>{{851,403},{152,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemBg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,199}</string>
                <key>spriteSourceSize</key>
                <string>{152,199}</string>
                <key>textureRect</key>
                <string>{{851,604},{152,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemBg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,199}</string>
                <key>spriteSourceSize</key>
                <string>{152,199}</string>
                <key>textureRect</key>
                <string>{{358,717},{152,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{707,710},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,68}</string>
                <key>spriteSourceSize</key>
                <string>{47,68}</string>
                <key>textureRect</key>
                <string>{{535,657},{47,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopCross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,87}</string>
                <key>spriteSourceSize</key>
                <string>{654,87}</string>
                <key>textureRect</key>
                <string>{{535,1},{654,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopItemBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,355}</string>
                <key>spriteSourceSize</key>
                <string>{225,355}</string>
                <key>textureRect</key>
                <string>{{1,717},{225,355}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopItemBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,355}</string>
                <key>spriteSourceSize</key>
                <string>{225,355}</string>
                <key>textureRect</key>
                <string>{{624,1},{225,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopItemBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,350}</string>
                <key>spriteSourceSize</key>
                <string>{225,350}</string>
                <key>textureRect</key>
                <string>{{624,358},{225,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopSelectBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,91}</string>
                <key>spriteSourceSize</key>
                <string>{103,91}</string>
                <key>textureRect</key>
                <string>{{735,816},{103,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titelBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,79}</string>
                <key>spriteSourceSize</key>
                <string>{70,79}</string>
                <key>textureRect</key>
                <string>{{591,826},{70,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titelBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,79}</string>
                <key>spriteSourceSize</key>
                <string>{70,79}</string>
                <key>textureRect</key>
                <string>{{663,826},{70,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titelBg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,79}</string>
                <key>spriteSourceSize</key>
                <string>{70,79}</string>
                <key>textureRect</key>
                <string>{{840,805},{70,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titelBg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,79}</string>
                <key>spriteSourceSize</key>
                <string>{70,79}</string>
                <key>textureRect</key>
                <string>{{912,805},{70,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titelBg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,79}</string>
                <key>spriteSourceSize</key>
                <string>{70,79}</string>
                <key>textureRect</key>
                <string>{{840,886},{70,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIShop.png</string>
            <key>size</key>
            <string>{1004,973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab435c8b40807d4b7c09b320aa6ae13d:b650f52ec109a39f270f2a23f0075d8a:5dff9365c6c14675677185d52acaa034$</string>
            <key>textureFileName</key>
            <string>UIShop.png</string>
        </dict>
    </dict>
</plist>
