<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{1,1},{607,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bookstore0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{610,1},{607,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carStore0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{1,374},{607,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>couture0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{610,374},{607,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>electricStore0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{1,747},{607,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gallery0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{610,747},{607,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jewelryStore0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{1,1120},{607,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{610,1120},{607,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restaurant0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{1,1493},{607,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoeStore0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,371}</string>
                <key>spriteSourceSize</key>
                <string>{607,371}</string>
                <key>textureRect</key>
                <string>{{610,1493},{607,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIStore.png</string>
            <key>size</key>
            <string>{1218,1865}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce8983608a89e41ba2d8ba7ce99361bc:bb4690f140fd4d77208f76d7acd57597:2863b6ce5e1c9829ebd6422986bbdc6a$</string>
            <key>textureFileName</key>
            <string>UIStore.png</string>
        </dict>
    </dict>
</plist>
